<div class="container">
  <h1>Armedia Form</h1>
     
  <form [formGroup]="armediaform">
    <div 
    class="alert alert-danger mt-1" 
    *ngIf='f.email.invalid && f.email.touched && f.email.dirty'
    >
        Your email is not valid
    </div>
    <div *ngIf="f.password.touched && f.password.invalid && f.password.dirty" class="alert alert-danger mt-1">
        <div *ngIf="f.password.errors.required">Password is required.</div>
        <div *ngIf="f.password.errors.pattern">Password Must be 8 characters long, one special character, one number and and regular character.</div>
    </div>
    <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid && f.confirm_password.dirty" class="alert alert-danger mt-1">
        <div *ngIf="f.confirm_password.errors.required">Confirm Password is required.</div>
        <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
        <div *ngIf="f.confirm_password.errors.pattern">Confirm Password is not valid.</div>
    </div>
         <div class="form-group">
             <label for="email">Email</label>
             <input 
             type="email"
             class="form-control"
             name="email"
             formControlName='email'
             required
             id="email"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
             email
             #email
             >
             <div 
             class="alert alert-danger mt-1" 
             *ngIf='f.email.invalid && f.email.touched && f.email.dirty'
             >
                 Your email is not valid
             </div>
         </div>

         <div class="form-group">
             <label for="subscription">Subscription</label>
             <select name="subscription" id="subscription"
             class="form-select" 
             required
             formControlName='subscription'
             #subscription
             >
                 <option value="Advanced" selected='selected'>Advanced</option>
                 <option value="Basic">Basic</option>
                 <option value="Pro">Pro</option>
             </select>
         </div>

      <div class="form-group">
          <label for="password">Password</label>
          <label>Password Must be 8 characters long, one special character, one number and and regular character.</label>
          <input 
              formControlName="password"
              id="password" 
              type="password"
              required 
              class="form-control"
              pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8}$"
              >
          <div *ngIf="f.password.touched && f.password.invalid && f.password.dirty" class="alert alert-danger mt-1">
              <div *ngIf="f.password.errors.required">Password is required.</div>
              <div *ngIf="f.password.errors.pattern">Password Must be 8 characters long, one special character, one number and and regular character.</div>
          </div>
      </div>

      <div class="form-group">
          <label for="confirm_password">Confirm Password</label>
          <input 
              formControlName="confirm_password"
              id="confirm_password" 
              type="password"
              required 
              class="form-control"
              pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8}$"
              >
          <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid && f.confirm_password.dirty" class="alert alert-danger mt-1">
              <div *ngIf="f.confirm_password.errors.required">Confirm Password is required.</div>
              <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
              <div *ngIf="f.confirm_password.errors.pattern">Confirm Password is not valid.</div>
          </div>
      </div>

      <input 
      type="date"
      hidden
      formControlName='date'>

      <button class="btn btn-primary mt-2"  type="button" [disabled]="!armediaform.valid" (click)='addForm()'>Submit</button>&nbsp;
    
      <button class="btn btn-warning mt-2" type="button" (click)='reset()'>Clear</button>
  </form>



  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th>Email Address</th>
        <th>Subscription Type</th>
        <th>Start Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of listData'>
        <td><span>{{ item.email }}</span></td>
        <td><span>{{ item.subscription }}</span></td>
        <td><span>{{ item.date }}</span></td>
      </tr>
    </tbody>
  </table>



</div>


